* {
    margin:0px;
    padding:0px;
}
body{
    background-color:black;
}
form{
    color:white;
}

header{

    margin-left:110px;
    font-size:20px;
    font-weight:bold ;
}
input{
    margin-left:10px;
    
}
button{
    background-color:white;
    border:none;
    margin-left:50px;
    width:250px;
    height:30px;
}